.addingText{
    max-width: 300px;
    padding: 30px;
    border:1px solid #0080ff8c;
    background-color: #0080ff8c;
    text-align: center;
    border-radius: 20px;
   
    .textH{
        margin-bottom:20px !important;
    }
    .textColor{
        margin-bottom:20px !important;
    }
    .btnAdd{
        margin-top:20px;
    }
    .inputText{
        margin-bottom:20px !important;
    }
}
.added{
    max-width: 400px;
    width: 100%;
    text-align: center;
    background-color: #0080ff8c;
    border-radius: 20px;
    padding:10px;
    .text{
        word-wrap: break-word;
        width: 100%;
        max-width: 400px;
    }
}